{% extends 'base.html' %}
{% block content %}
<h2>Détail Vol</h2>

<table class="table table-bordered">
    <tr><th>ID</th><td>{{ vol.id }}</td></tr>
    <tr><th>Avion</th><td>{{ vol.avion }}</td></tr>
    <tr><th>Pilote</th><td>{{ vol.pilote }}</td></tr>
    <tr><th>Aéroport de départ</th><td>{{ vol.aeroport_depart }}</td></tr>
    <tr><th>Date et heure de départ</th><td>{{ vol.date_heure_depart }}</td></tr>
    <tr><th>Aéroport d'arrivée</th><td>{{ vol.aeroport_arrivee }}</td></tr>
    <tr><th>Date et heure d'arrivée</th><td>{{ vol.date_heure_arrivee }}</td></tr>
</table>

<a href="{% url 'vol_affiche' %}" class="btn btn-secondary">⬅ Retour</a>
{% endblock %}
