{% extends 'base.html' %}
{% block content %}
<h2>Affiche Avion</h2>

<a href="{% url 'avion_ajout' %}" class="btn btn-primary mb-3">➕ Ajouter un avion</a>

{% if avions %}
<ul class="list-group">
    {% for item in avions %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ item }}
        <div>
            <a href="{% url 'avion_detail' item.id %}" class="btn btn-sm btn-info">Voir</a>
            <a href="{% url 'avion_update' item.id %}" class="btn btn-sm btn-warning">Modifier</a>
            <a href="{% url 'avion_delete' item.id %}" class="btn btn-sm btn-danger">Supprimer</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun(e) avion enregistré(e).</p>
{% endif %}
{% endblock %}
