{% extends "base.html" %}

{% block content %}
<h2>Liste des aéroports</h2>
<a href="{% url 'aeroport_ajout' %}" class="btn btn-primary mb-3">Ajouter un aéroport</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for aeroport in aeroport %}
        <tr>
            <td>{{ aeroport.id }}</td>
            <td>{{ aeroport.nom }}</td>
            <td>{{ aeroport.pays }}</td>
            <td>
                <a href="{% url 'aeroport_update' aeroport.id %}" class="btn btn-sm btn-warning">Modifier</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}